html {
  height: 100%;
  margin: 0px;
}
body{
  margin: 0px;
  padding: 0px;
}
header {
  background-image: url("images/luc-back.jpg");
  height: 100vh;
  background-size: cover;
  margin-bottom: 0px;
}
span {
  text-align: center;
}
a {
  display: inline;
  color: rgba(255, 255, 255, 0.8);
}
#back {
  position: fixed;
  top: 0;
  left: 0;
  width: 4.5vw;
  height: auto;
  padding: 1vh;
  margin-left: 0.1vw;
  margin-top: 0.1vw;
  font-size: 2vw;
  text-align: center;
  border-radius: 0.2vw;
  background-color: rgba(20,20,20, 0.8);
  color: rgba(200, 200, 200, 0.9);
  cursor: pointer;
  transform: scale(1, 1);
  transition-duration: 0.5s;
  transform-origin: top left;
}
#back:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}
.span-body {
  width: 60vw;
  display: block;
  font-size: 20px;
  background-color: rgba(20,20,20, 0.8);
  padding: 30px 60px 0px 60px;
  color: rgba(200, 200, 200, 0.75);
}
#div1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  background-image: url("images/book-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#luc-logo {
  height: 15vh;
  width: 15vh;
  position: absolute;
  right: 3vw;
  top: 4vh;
  padding: 0.5vh;
  background-color: rgba(20,20,20, 0.4);
  border-radius: 500px;
  cursor: pointer;
}
#greenhouse {
  background-image: url("images/Ecodome.jpg");
  background-size: cover;
  width: 22vw;
  height: 100%;
  float: right;
  border: 2px solid rgba(70, 70, 70, 1);
  animation: slideshow-greenhouse 18s alternate infinite;
  animation-delay: 3s;
}
#greenhouse-span {
  float: right;
  height: 80%;
  width: 20vw;
  text-align: center;
  padding: 2vh 1vw 0vh 1vw;
  font-size: 2.2vmin;
  color: rgba(255, 255, 255, 0.6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#greenhouse-back {
  position: absolute;
  right: 6vw;
  top: 41vh;
  background-color: rgba(20,20,20, 0.6);
  width: 22vw;
  height: 24vh;
  padding: 10px;
  align-content: center;
  justify-content: center;
  animation: reverse-greenhouse 1s forwards;
}
#greenhouse-back:hover #greenhouse-span{
  animation-name: displayit;
  animation-duration: 2s;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  display: flex;
  opacity: 0;
}
@keyframes displayit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#greenhouse-back:hover {
  animation-name: expand-greenhouse;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
@keyframes expand-greenhouse {
  0% {
    width: 22vw;
  }
  100% {
    width: 45vw;
  }
}
@keyframes reverse-greenhouse {
  0% {
    width: 45vw;
  }
  100% {
    width: 22vw;
  }
}
#IES-back {
  position: absolute;
  left: 6vw;
  top: 12vh;
  background-color: rgba(20,20,20, 0.6);
  width: 21vw;
  height: 24vh;
  padding: 10px;
  align-content: center;
  justify-content: center;
  animation: reverse-ies 1s forwards;
}
#IES-back:hover #IES-span {
  animation-name: displayit;
  animation-duration: 2s;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  display: flex;
  opacity: 0;
}
#IES-back:hover {
  animation-name: expand-ies;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
@keyframes expand-ies {
  0% {
    width: 21vw;
  }
  100% {
    width: 51vw;
  }
}
@keyframes reverse-ies {
  0% {
    width: 51vw;
  }
  100% {
    width: 21vw;
  }
}
#IES {
  background-image: url("images/IES.jpg");
  background-size: cover;
  width: 21vw;
  height: 100%;
  float: left;
  margin-right: 10px;
  border: 2px solid rgba(70, 70, 70, 1);
  animation: slideshow-ies 18s alternate infinite;
  animation-delay: 4s;
}
#IES-span {
  font-size: 2.2vmin;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 15px;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#curriculum-back {
  position: absolute;
  left: 6vw;
  top: 69vh;
  background-color: rgba(20,20,20, 0.6);
  width: 21vw;
  height: 24vh;
  padding: 10px;
  align-content: center;
  justify-content: center;
  animation: reverse-curriculum 1s forwards;
}
#curriculum-back:hover {
  animation: expand-curriculum 600ms forwards;
}
@keyframes expand-curriculum {
  0% {
    width: 21vw;
  }
  100% {
    width: 51vw;
  }
}
@keyframes reverse-curriculum {
  0% {
    width: 51vw;
  }
  100% {
    width: 21vw;
  }
}
#curriculum {
  background-image: url("images/tour.jpg");
  background-size: cover;
  width: 21vw;
  height: 100%;
  float: left;
  margin-right: 10px;
  border: 2px solid rgba(70, 70, 70, 1);
  animation: slideshow-curriculum 18s alternate infinite;
}
#curriculum-span {
  font-size: 2.6vmin;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 15px;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#curriculum-back:hover #curriculum-span {
  animation-name: displayit;
  animation-duration: 2s;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  display: flex;
  opacity: 0;
}
@keyframes slideshow-ies {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  33% {
    opacity: 1;
    background-image: url("images/ies-sun.jpg");
  }
  50% {
    opacity: 0;
  }
  66% {
    opacity: 1;
    background-image: url("images/IES.jpg");
  }
  78% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-image: url("images/ccc.jpg");
  }
}
@keyframes slideshow-greenhouse {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  33% {
    opacity: 1;
    background-image: url("images/Ecodome1.jpg");
  }
  50% {
    opacity: 0;
  }
  66% {
    opacity: 1;
    background-image: url("images/seedling.jpg");
  }
  78% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-image: url("images/maggie.png");
  }
}
@keyframes slideshow-curriculum {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  33% {
    opacity: 1;
    background-image: url("images/sg.jpg");
  }
  50% {
    opacity: 0;
  }
  66% {
    opacity: 1;
    background-image: url("images/aquaponics.jpg");
  }
  78% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-image: url("images/presentation.jpg");
  }
}
.bub-image {
  background-size: cover;
  border-radius: 100px;
  width: 20vh;
  height: 20vh;
}
#basil {
  background-image: url("images/basil.jpg");
  float: right;
}
#greenhouse-air {
  background-image: url("images/greenhouse-air.jpg");
  float: left;
}
#fox-caption {
  width: 80%;
}
#jazz-band {
  background-image: url("images/jazz-band.jpg");
  float: left;
}
#euph {
  background-image: url("images/euph.png");
  float: right;
}
