html {
  height: 100%;
  margin: 0px;
}
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}
h1 {
  display: block;
  position: absolute;
  top: 0px;
  left: 42vw;
}
#div-body-work {
  background-image: url("images/office.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.work-box {
  float: left;
  width: 45vw;
  height: 31vh;
  margin: 8vh 1.25vw 2vh 1.25vw;
  background-color: rgba(20,20,20, 0.8);
  position: relative;
  padding: 1.5vw;
  animation: shrink-it 1s forwards;
  color: rgba(200, 200, 200, 0.75);
}
.image {
  background-size: cover;
  width: 100%;
  height: 30vh;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 7.2vh;
  font-family: monospace;
  color: black;
  margin-bottom: 2vh;
}
.work-div {
  display: none;
  opacity: 0;
  width: 90%;
}
#wm-image {
  background-image: url("images/costplus.jpg");
}
#ap-image {
  background-image: url("images/ecodome-work.jpg");
}
.work-box:hover {
  animation: expand-it 1s forwards;
}
#world-market-box:hover #wm-p {
  display: inline;
  animation: wm-p-show 1s forwards;
  animation-delay: 300ms;
}
#ap-manager:hover #ap-p {
  display: inline;
  animation: ap-p-show 1s forwards;
  animation-delay: 300ms;
}
@keyframes shrink-it {
  0% {
    height: 83vh;
  }
  100% {
    height: 31vh;
  }
}
@keyframes expand-it {
  0% {
    height: 31vh;
  }
  100% {
    height: 83vh
  }
}
@keyframes ap-p-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wm-p-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
