body {
  background-color: rgb(215, 237, 242);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding-top: 10vh;
}
#back {
  position: fixed;
  top: 0;
  left: 0;
  width: 4.5vw;
  height: auto;
  padding: 1vh;
  margin-left: 0.1vw;
  margin-top: 0.1vw;
  font-size: 2vw;
  text-align: center;
  border-radius: 0.2vw;
  background-color: rgba(20,20,20, 0.8);
  color: rgba(200, 200, 200, 0.9);
  cursor: pointer;
  transform: scale(1, 1);
  transition-duration: 0.5s;
  transform-origin: top left;
}
#back:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}
.web-container {
  background-color: rgba(89, 89, 89, 0.7);
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  font-size: 2vw;
  padding: 0.7vh;
  margin-bottom: 10vh;
  cursor: pointer;
}
.website-inner {
  background-size: cover;
  background-position: center;
  opacity: 1;
  width: 50vw;
}
#inner-carla {
  background-image: url("images/Carla-Web.png");
}
#carla:hover #inner-carla{
  height: 0;
  animation: show 800ms forwards;
  animation-delay: 30ms;
}

#inner-tokiwa {
  background-image: url("images/Tokiwa-Web.png");
}
#tokiwa:hover #inner-tokiwa {
  height: 0;
  animation: show 800ms forwards;
  animation-delay: 30ms;
}

#inner-raincheck {
  background-image: url("images/Raincheck.png");
}
#raincheck:hover #inner-raincheck {
  height: 0;
  animation: show 800ms forwards;
  animation-delay: 30ms;
}
@keyframes show {
  100% {
    opacity: 1;
    height: 50vmin;
  }
}
@keyframes hide {
  0% {
    height: 50vmin;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
