body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("ivanr553.github.io/Website/images/mac-back-1.jpg");
  background-size: cover;
}
.branch {
  width: 10vh;
  height: 10vh;
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  cursor: pointer;
  transform: scale(1, 1);
  transition-duration: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: hide 1s forwards;
  font-size: 1.7vh;
  font-weight: bold;
}
.branch:hover {
  transform: scale(2, 2);
  transition-duration: 1s;
  animation: show 1s forwards;
}
.branch:hover .ring {
  transform: rotate(180deg);
  transition-duration: 1s;
}
@keyframes show {
  0% {
    color: transparent;
  }
  100% {
    color: black;
  }
}
@keyframes hide {
  0% {
    color: black;
  }
  100% {
    color: transparent;
  }
}
#center {
  width: 34vh;
  height: 34vh;
  border-radius: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2.7vh;
  font-family: monospace;
  cursor: default;
}
#branch-education {
  left: -9vh;
  top: -2vh;
  background-image: url("ivanr553.github.io/Website/images/luc-back.jpg");
  background-size: cover;
  transform-origin: bottom right;
}
#branch-work {
  right: -9vh;
  top: -2vh;
  background-image: url("ivanr553.github.io/Website/images/office.jpg");
  background-size: cover;
  transform-origin: bottom left;
  font-size: 2.4vh;
}
#branch-resume {
  left: -9vh;
  bottom: 2vh;
  background-image: url("ivanr553.github.io/Website/images/resume-img.jpg");
  background-size: cover;
  transform-origin: top right;
}
#branch-projects {
  right: -9vh;
  bottom: 2vh;
  background-image: url("ivanr553.github.io/Website/images/git.png");
  background-size: cover;
  transform-origin: top left;
}
#branch-blog {
  bottom: -11.5vh;
  right: 12.5vh;
  background-image: url("ivanr553.github.io/Website/images/blog.jpg");
  background-size: cover;
  transform-origin: top;
}
#branch-cert {
  top: -11.5vh;
  right: 12.5vh;
  font-size: 1.2vh;
  background-image: url("ivanr553.github.io/Website/images/fcc-certificate.jpg");
  background-size: cover;
  transform-origin: bottom;
}
