html {
  height: 100%;
  margin: 0px;
}
header {
  background-image: url("mac-back-1.jpg");
  height: 100vh;
  background-size: cover;
  margin-bottom: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}
a {
  display: inline;
  color: rgba(255, 255, 255, 0.8);
}
#name {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 7px;
  padding: 10px 20px 10px 20px;
  background-color: rgba(200, 200, 200, 0.4);
  font-family: monospace;
  text-align: center;
  display: none;
  font-size: 30px;
  animation-name: name-anim;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes name-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#email {
  color: rgba(39, 45, 209, 0.8);
}
#header-h1 {
  margin-bottom: 5px;
  opacity: 0;
  animation-name: myanim1;
  animation-duration: 3s;
  animation-delay: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes myanim1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes header-span1-anim {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
@keyframes header-span2-anim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#header-span1 {
  text-align: center;
  width: 350px;
  opacity: 0;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 20px 10px 20px 10px;
  margin: 0px;
  border-radius: 3px;
  animation-name: header-span1-anim;
  animation-duration: 8s;
  animation-delay: 3100ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#header-span2 {
  text-align: center;
  width: 350px;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 20px 10px 20px 10px;
  margin: 0px;
  opacity: 0;
  border-radius: 3px;
  animation-name: header-span2-anim;
  animation-duration: 6s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#body-h1 {
  text-align: center
}
#div-body-1 {
  text-align: center;
  background-image: url("http://www.luc.edu/media/lucedu/conference/panoramic/LSC-pano-sept-2016.jpg");
  background-size: cover;
  height: 100%;
  width: auto;
  position: relative;
}
#education {
  background-color: rgba(20, 20, 20, 0.6);
  padding: 10px 0px 10px 0px;
  font-family: monospace;
  font-size: 35px;
}
#luc-logo {
  height: 15vh;
  width: 20vh;
  position: absolute;
  right: 0.5vw;
  top: 10vh;
  padding: 0.5vh;
  background-color: rgba(20,20,20, 0.4);
}
#greenhouse {
  background-image: url("ecodome.jpg");
  background-size: cover;
  width: 22vw;
  height: 100%;
  float: right;
  border: 2px solid rgba(70, 70, 70, 1);
  animation: slideshow-greenhouse 18s alternate infinite;
}
#greenhouse-span {
  float: right;
  height: 80%;
  width: 20vw;
  text-align: center;
  padding: 2vh 1vw 0vh 1vw;
  font-size: 2.2vmin;
  color: rgba(255, 255, 255, 0.6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#greenhouse-back {
  position: absolute;
  right: 6vw;
  top: 41vh;
  background-color: rgba(20,20,20, 0.6);
  width: 22vw;
  height: 24vh;
  padding: 10px;
  align-content: center;
  justify-content: center;

}
#greenhouse-back:hover #greenhouse-span{
  animation-name: displayit;
  animation-duration: 2s;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  display: flex;
  opacity: 0;
}
@keyframes displayit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#greenhouse-back:hover {
  animation-name: expand-greenhouse;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
@keyframes expand-greenhouse {
  0% {
    width: 22vw;
  }
  100% {
    width: 45vw;
  }
}
#IES-back {
  position: absolute;
  left: 6vw;
  top: 12vh;
  background-color: rgba(20,20,20, 0.6);
  width: 21vw;
  height: 24vh;
  padding: 10px;
  align-content: center;
  justify-content: center;
}
#IES-back:hover #IES-span {
  animation-name: displayit;
  animation-duration: 2s;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  display: flex;
  opacity: 0;
}
#IES-back:hover {
  animation-name: expand-ies;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
@keyframes expand-ies {
  0% {
    width: 21vw;
  }
  100% {
    width: 51vw;
  }
}
#IES {
  background-image: url("IES.jpg");
  background-size: cover;
  width: 21vw;
  height: 100%;
  float: left;
  margin-right: 10px;
  border: 2px solid rgba(70, 70, 70, 1);
  animation: slideshow-ies 18s alternate infinite;
}
#IES-span {
  font-size: 2.2vmin;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 15px;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#curriculum-back {
  position: absolute;
  left: 6vw;
  top: 69vh;
  background-color: rgba(20,20,20, 0.6);
  width: 21vw;
  height: 24vh;
  padding: 10px;
  align-content: center;
  justify-content: center;
}
#curriculum-back:hover {
  animation: expand-curriculum 600ms forwards;
}
@keyframes expand-curriculum {
  0% {
    width: 21vw;
  }
  100% {
    width: 51vw;
  }
}
#curriculum {
  background-image: url("tour.jpg");
  background-size: cover;
  width: 21vw;
  height: 100%;
  float: left;
  margin-right: 10px;
  border: 2px solid rgba(70, 70, 70, 1);
  animation: slideshow-curriculum 18s alternate infinite;
}
#curriculum-span {
  font-size: 2.7vmin;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 15px;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#curriculum-back:hover #curriculum-span {
  animation-name: displayit;
  animation-duration: 2s;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  display: flex;
  opacity: 0;
}
@keyframes slideshow-ies {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  33% {
    opacity: 1;
    background-image: url("http://www.luc.edu/media/lucedu/sustainability-new/images420/ies-sun420.jpg");
  }
  50% {
    opacity: 0;
  }
  66% {
    opacity: 1;
    background-image: url("IES.jpg");
  }
  78% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-image: url("http://farm8.staticflickr.com/7635/17237749701_e54ea732e1_b.jpg");
  }
}
@keyframes slideshow-greenhouse {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  33% {
    opacity: 1;
    background-image: url("ecodome1.jpg");
  }
  50% {
    opacity: 0;
  }
  66% {
    opacity: 1;
    background-image: url("seedling.jpg");
  }
  78% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-image: url("maggie.png");
  }
}
@keyframes slideshow-curriculum {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  33% {
    opacity: 1;
    background-image: url("sg.jpg");
  }
  50% {
    opacity: 0;
  }
  66% {
    opacity: 1;
    background-image: url("aquaponics.jpg");
  }
  78% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background-image: url("presentation.jpg");
  }
}
#div-body-work {
  background-image: url("office.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
